* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: rgb(208, 161, 252);
}

main {
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 10px;

}


h2 {
    text-align: center;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: bold;
}

h3 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(137, 43, 226, 0.418);
    padding-left: 5px;
    padding-top: 5px;
}

p {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
    height: 100%;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
